@model IEnumerable<Soul.Models.request>

@{
    ViewBag.Title = "Progress";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen and (max-height: 450px)" />
    <link rel="stylesheet" type="text/css" media="screen and (max-height: 450px)" />
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 100px;
        }

            .sidenav a {
                padding: 6px 6px 6px 32px;
                text-decoration: none;
                font-size: 18px;
                color: #818181;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }


        .main {
            margin-left: 200px; /* Same as the width of the sidenav */
        }
    </style>


</head>
<body>
    <div class="sidenav">

        <a href="http://localhost:50741/Broker/UserProfile"><span class="glyphicon glyphicon-home"></span>Broker Profile</a>
        <br />
        <br />
        <a href="http://localhost:50741/Broker/requests"><span class="glyphicon glyphicon-user"></span>Registration Requests</a>
        <br />
        <br />
        <a href="http://localhost:50741/Broker/ViewProgress"><span class="glyphicon glyphicon-stats"></span>View Progress</a>
        <br />
        <br />
        <a href="http://localhost:50741/Broker/PayBack"><span class="glyphicon glyphicon-usd"></span>Pay Back</a>
        <br />
        <br />
        <a href="http://localhost:50741/Broker/Login"><span class="glyphicon glyphicon-log-out"></span>Log Out</a>
    </div>
    <br />
    <br />
    @using GridMvc.Html
    @{
        ViewBag.Title = "View Progress";
    }
    <center> <h2 class="color-white">View Progress</h2></center>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/scripts/gridmvc.min.js")"></script>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.receiver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
            </tr>
        }

    </table>
</body>
</html>
